<div class="pdf-container">
    <div class="actions-btn">
        <input (change)="onFileSelected($event)" type="file" id="input_pdf_file" accept=".pdf" class="d-none" />
        <button class="action_btn"><label for="input_pdf_file">Choose File</label></button>
        <button class="action_btn" matTooltip="Previous Page" matTooltipPosition="above" matTooltipClass="above" (click)="previousPage()"><i class="bi bi-arrow-left-square"></i></button>
        <button class="action_btn" matTooltip="Next Page" matTooltipPosition="above" matTooltipClass="above" (click)="nextPage()"><i class="bi bi-arrow-right-square"></i></button>
        <button class="action_btn" matTooltip="Zoom in Page" matTooltipPosition="above" matTooltipClass="above" (click)="zoomPage('-')"><i class="bi bi-dash-circle"></i></button>
        <button class="action_btn" matTooltip="Zoom out Page" matTooltipPosition="above" matTooltipClass="above" (click)="zoomPage('+')"><i class="bi bi-plus-circle"></i></button>
        <button class="action_btn" matTooltip="Full Width" matTooltipPosition="above" matTooltipClass="above" (click)="zoomScale('page-width')"><i class="bi bi-arrows-angle-expand"></i></button>
        <button class="action_btn" matTooltip="Fit to Page" matTooltipPosition="above" matTooltipClass="above" (click)="zoomScale('page-fit')"><i class="bi bi-arrows-fullscreen"></i></button>
        <button class="action_btn" matTooltip="Fit to Height" matTooltipPosition="above" matTooltipClass="above" (click)="zoomScale('page-height')"><i class="bi bi-arrows-expand"></i></button>
        <button class="action_btn" matTooltip="Original Size" matTooltipPosition="above" matTooltipClass="above" (click)="originalSize()"><i class="bi bi-arrows-angle-contract"></i></button>
        <button class="action_btn" matTooltip="Show All Page" matTooltipPosition="above" matTooltipClass="above" (click)="showAll()"><i class="bi bi-check2-circle"></i></button>
        <button class="action_btn" matTooltip="Make Text Copyable" matTooltipPosition="above" matTooltipClass="above" (click)="renderText()"><i class="bi bi-clipboard"></i></button>
        <input type="text" class="input_search" [(ngModel)]="searchQuery" (ngModelChange)="searchInPdf()" placeholder="Search in Book" />
        <input type="number" class="input_pages" (input)="goToPage($event)" placeholder="Enter Page Number" />
    </div>

    <div class="viewer-container">
        <pdf-viewer *ngIf="pdfSrc" [src]="pdfSrc" [show-all]="pageAll" [original-size]="pageOrgSize"
            [render-text]="pageText" [(page)]="pageNumber" (after-load-complete)="afterLoadComplete($event)"
            (page-rendered)="pageRendered($event)" (text-layer-rendered)="textLayerRendered($event)" [zoom]="pageZoom"
            [zoom-scale]="pageScale" [autoresize]="true" [show-borders]="true"></pdf-viewer>
    </div>
</div>