.login {
    padding: 0 1%;
    background-color: rgba(255, 255, 255, 0.959);

    .login-container {
        width: 86%;
        display: flex;
        align-items: center;
        margin: 6% auto 30px;
        column-gap: 6%;

        .loginpage {
            width: 50%;

            img {
                width: 100%;
                height: 100%;
                padding: 0 2% 12%;
                object-fit: fill;
            }
        }

        .login-form-filed {
            width: 50%;

            .header {
                h3 {
                    font-family: "Roboto", sans-serif;
                }

                p {
                    color: #b3b3b3;
                    font-weight: 300;
                }
            }

            .login-form {
                width: 90%;

                .username {
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 20px;

                    label {
                        font-size: 14px;
                        font-weight: 600;
                        color: #757575d1;
                    }

                    input {
                        height: 40px;
                        border: 0;
                        font-size: 16px;
                        outline: none;
                        color: #000;
                        font-weight: 600;
                        border-bottom: 2px solid #757575d1;
                    }
                }

                .password {
                    @extend .username;
                }

                .checkbox {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .forgot-password {
                        a {
                            color: inherit;
                            text-decoration: none;
                            border-bottom: 1px solid;
                        }
                    }
                }

                .submit-btn {
                    width: 100%;
                    margin-top: 10px;
                    height: 50px;
                    color: #fff;
                    background: #38d39f;
                    border: none;
                    font-size: 20px;
                    text-transform: uppercase;
                    border-radius: 4px;
                }

                .social-login {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-top: 10px;

                    .orsign {
                        text-align: center;
                        display: flex;
                        align-items: center;

                        .icon {
                            display: flex;

                            .facebook {
                                border: 1px solid gray;
                                padding: 0px 8px;
                                margin-left: 6px;
                                text-decoration: none;
                                color: inherit;
                                margin-right: 6px;
                                border-radius: 4px;
                                flex-wrap: nowrap;
                                display: flex;
                                align-items: center;

                                i {
                                    border: none;
                                    border-radius: 50%;
                                    font-size: 20px;
                                    color: #38d39f;
                                    margin-right: 8px;
                                }
                            }

                            .google {
                                @extend .facebook;
                            }
                        }
                    }

                    .dhaccount {
                        color: inherit;
                        text-decoration: none;
                        border-bottom: 1px solid;
                        font-size: 12px;
                        font-weight: 600;
                    }
                }
            }
        }

        .register-form-filed {
            width: 50%;

            .header {
                h3 {
                    font-family: "Roboto", sans-serif;
                }

                p {
                    color: #b3b3b3;
                    font-weight: 300;
                }
            }

            .register-form {
                width: 90%;

                .name-email {
                    width: 31%;
                    @extend .input-fields;
                }

                .username-password {
                    width: 31%;
                    @extend .input-fields;
                }

                .address-phone {
                    width: 100%;

                    .address {
                        width: 50%;
                    }

                    .phone {
                        width: 50%;
                    }

                    @extend .input-fields;
                }

                .city-state {
                    width: 100%;

                    .city {
                        width: 50%;
                    }

                    .state {
                        width: 50%;
                    }

                    @extend .input-fields;
                }

                .country-zipcode {
                    width: 100%;

                    .country {
                        width: 50%;
                    }

                    .zipcode {
                        width: 50%;
                    }

                    @extend .input-fields;
                }

                .password-cfpassword {
                    width: 50%;
                    @extend .input-fields;
                }

                .submit-btn {
                    width: 100%;
                    margin-top: 10px;
                    height: 50px;
                    color: #fff;
                    background: #38d39f;
                    border: none;
                    font-size: 20px;
                    text-transform: uppercase;
                    border-radius: 4px;
                }

                .social-login {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-top: 10px;

                    .orsign {
                        text-align: center;
                        display: flex;
                        align-items: center;

                        .icon {
                            display: flex;

                            .facebook {
                                border: 1px solid gray;
                                padding: 0px 8px;
                                margin-left: 6px;
                                text-decoration: none;
                                color: inherit;
                                margin-right: 6px;
                                border-radius: 4px;
                                flex-wrap: nowrap;
                                display: flex;
                                align-items: center;

                                i {
                                    border: none;
                                    border-radius: 50%;
                                    font-size: 20px;
                                    color: #38d39f;
                                    margin-right: 8px;
                                }
                            }

                            .google {
                                @extend .facebook;
                            }
                        }
                    }

                    .dhaccount {
                        color: inherit;
                        text-decoration: none;
                        border-bottom: 1px solid;
                        font-size: 12px;
                        font-weight: 600;
                    }
                }
            }
        }
    }
}


.input-fields {
    display: flex;
    align-items: center;
    gap: 20px;

    div {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        width: 100%;

        label {
            font-size: 14px;
            font-weight: 600;
            color: #757575d1;
        }

        input {
            height: 40px;
            border: 0;
            font-size: 16px;
            outline: none;
            color: #000;
            font-weight: 600;
            border-bottom: 2px solid #757575d1;
        }
    }
}

.input-invalid {
    border-bottom: 2px solid #fc0101d1 !important;
}

.input-valid {
    border-bottom: 2px solid #00831fd1 !important;
}

.mp-zero {
    margin: 0px;
    padding: 0px;
    font-size: 10px;
}

@media (max-width: 1250px) {
    .social-login {
        flex-direction: column;

        .orsign {
            flex-direction: column;

            .icon {
                margin-top: 12px;
            }
        }

    }

    .dhaccount {
        margin-top: 12px;
        display: inline-block;
    }
}

@media (max-width: 750px) {
    .login-container {
        flex-direction: column;
    }

    .login-form-filed {
        width: 100% !important;
    }

    .login-form {
        width: 100% !important;
    }
}