.colors_page {
    .header {
        color: #444;
        padding: 20px 0px;
        margin-bottom: 0px;

        h2 {
            font-size: 16px;
        }
    }
    .blocak-area {
        background: #fff;
        margin: 0px 10px 0px;
        border-radius: 0.55rem;
        padding: 16px;
        margin-bottom: 30px;

        .body {
           
        }
    }
}











.l-green {
    background: linear-gradient(45deg, #9ce89d, #cdfa7e) !important;
}

.l-pink {
    background: linear-gradient(45deg, pink, #fbc1cb) !important;
}

.l-turquoise {
    background: linear-gradient(45deg, #00ced1, #08e5e8) !important;
}

.l-khaki {
    background: linear-gradient(45deg, khaki, #fdf181) !important;
}

.l-coral {
    background: linear-gradient(45deg, #f08080, #f58787) !important;
}

.l-blue {
    background: linear-gradient(45deg, #72c2ff, #86f0ff) !important;
}

.l-salmon {
    background: linear-gradient(45deg, #ec74a1, #fbc7c0) !important;
}

.l-seagreen {
    background: linear-gradient(45deg, #8ed8ec, #85f7b5) !important;
}

.l-amber {
    background: linear-gradient(45deg, #fda582, #f7cf68) !important;
}

.l-blush {
    background: linear-gradient(45deg, #dd5e89, #f7bb97) !important;
}

.l-parpl {
    background: linear-gradient(45deg, #a890d3, #edbae7) !important;
}

.l-slategray {
    background: linear-gradient(45deg, #708090, #7c8ea0) !important;
}