
<div class="admin-container">
    <div class="side-bar" [ngStyle]="{ 'width':sidebarTog?'250px':'0px', 'display':sidebarTog?'block':'none'}">
        <sidebar [sideBarData]="sideBarArr"></sidebar>
    </div>
    <div class="main-content" [ngStyle]="{ 'width':sidebarTog?'calc(100% - 250px)':'calc(100% - 0px)', 'margin-left':sidebarTog?'250px':''}">
        <div class="main-content-header">
            <div class="scroll-indicator" [style.width.%]="scrPrtg"></div>
            <div class="d-flex align-items-center justify-content-between px-3 pt-2">
                <div class="header-item">
                    <h2 class="heading">
                        <a href="javascript:void(0);" (click)="sidebarTog = !sidebarTog">
                            <i class="bi" [ngClass]="sidebarTog?'bi-arrow-left-square':'bi-arrow-right-square'"></i>
                        </a>
                        <span class="ms-2">Dashboard</span>
                    </h2>
                    <div><app-breadcrumbs></app-breadcrumbs></div>
                </div>
                <div class="text-right">
                    <div class="text-center me-3">
                        <div class="visitors-chart text-left">
                            <canvas #visitorsChart width="100" height="30"></canvas>
                        </div>
                        <span>Visitors</span>
                    </div>
                    <div class="text-center">
                        <div class="visits-chart text-left">
                            <canvas #visitsChart width="100" height="30"></canvas>
                        </div>
                        <span>Visits</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-content-area">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
