.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: rgb(208 255 249);
    border-bottom: 1px solid rgb(188 221 217);
}

.main-container {
    margin-top: 60px;
}