.blogdetail {
    margin: 0 1%;
    display: flex;

    .blogdetail-item {
        width: 70%;
        margin-right: 10px;

        .card {
            padding: 16px;

            .body {
                .img-post {
                    width: 100%;
                    height: 450px;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: fill;
                    }
                }

                .title {
                    margin-top: 10px;

                    a {
                        color: #242424;
                        text-decoration: none;
                        font-size: 20px;
                        text-transform: uppercase;
                        font-weight: 600;
                    }
                }

                .discrips {
                    font-size: 16px;
                    line-height: 26px;
                    font-weight: 300;
                    margin: 0;
                }
            }
        }

        .comments {
            .header {
                h2 {
                    margin-bottom: 0px;
                    padding: 20px;
                    color: #444;
                    font-size: 14px;
                    font-weight: 600;
                }
            }

            .body {
                .comment-reply {
                    padding: 0px 16px 16px;
                    margin: 0px;
                    list-style: none;

                    li {
                        display: flex;
                        margin-bottom: 10px;

                        .img-icon {
                            width: 120px;
                            border: 1px solid #0000002e;
                            height: 100px;
                            margin: 0px 15px;
                            padding: 2px;
                            border-radius: 4px;

                            img {
                                width: 114px;
                                height: 100%;
                                object-fit: fill;
                            }
                        }

                        .details {
                            .name {
                                margin: 0px;
                                font-size: 18px;
                                font-weight: 600;
                            }

                            .msg {
                                margin: 0;
                            }

                            .action {
                                padding: 0px;
                                display: flex;
                                margin-top: 8px;

                                li {
                                    margin-right: 16px;

                                    .time {
                                        text-decoration: none;
                                        font-size: 86%;
                                        color: #000000b5;
                                    }

                                    .reply-btn {
                                        text-decoration: none;
                                        font-size: 86%;
                                        color: rgba(0, 128, 0, 0.692);
                                    }
                                }
                            }
                        }

                    }
                }
            }

        }

        .reply-field {
            .header {
                padding: 20px;

                h2 {
                    margin: 0;
                    font-size: 18px;
                    font-weight: 600;
                }

            }

            .body {
                .comment-form {

                    .textarea {
                        margin: 0 12px;

                        textarea {
                            width: 100%;
                            padding: 4px;
                            border: 1px solid #0000004a;
                            border-radius: 4px;
                            font-size: 13px;
                        }
                    }

                    button {
                        margin: 4px 12px 12px;
                        border: 1px solid #0000004d;
                        background: transparent;
                        padding: 4px 16px;
                        border-radius: 4px;
                        color: #00000094;
                        transition: all ease 0.5s;

                        &:hover {
                            background: rgba(0, 128, 0, 0.808);
                            border: 1px solid rgba(0, 128, 0, 0.808);
                            color: #fff;
                        }
                    }
                }
            }
        }
    }

    .categories {
        margin-left: 10px;
        width: 30%;

        .box-stl {
            padding: 16px;

            .header {
                h2 {
                    font-size: 16px;
                    font-weight: 500;
                    color: #444;
                }
            }
        }

        .search {
            position: relative;

            i {
                position: absolute;
                top: 0px;
                left: 0px;
                background: #0000001a;
                padding: 5px 11px;
                border-right: 1px solid #00000021;
                border-top-left-radius: 4px;
                border-bottom-left-radius: 4px;
                cursor: pointer;
            }

            input {
                width: 100%;
                padding: 4px 4px 4px 40px;
                border: 1px solid #00000021;
                border-radius: 4px;
                outline: none;
            }
        }

        .categories-list {
            .categories-clouds {
                margin: 0;
                padding: 0;
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                list-style: none;

                li {
                    margin: 9px 3px;

                    a {
                        text-decoration: none;
                        padding: 8px 16px;
                        border: 1px solid blue;
                        font-size: 13px;
                        border-radius: 4px;
                    }
                }
            }
        }

        .popular-post {
            .post {
                margin-bottom: 16px;
                border-bottom: 1px solid #00000029;
                padding-bottom: 20px;

                .title {
                    margin: 0;
                }

                .time {
                    font-size: 85%;
                }

                .post-img {
                    margin-top: 10px;
                    width: 100%;
                    height: 200px;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: fill;
                    }
                }
            }
        }

        .instagram-post {
            display: flex;
            flex-wrap: wrap;
            margin: 0;
            padding: 0;
            list-style: none;

            li {
                .insta-img {
                    width: 100px;
                    height: 100px;
                    margin: 2px;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: fill;
                        cursor: pointer;
                    }
                }
            }
        }
    }


}