<app-loader *ngIf="isLoading"></app-loader>
<div class="blogdetail">
    <div class="blogdetail-item">
        <div class="card box-stl">
            <div class="body">
                <div class="img-post">
                    <img [src]="blogData?.image">
                </div>
                <h3 class="title"><a href="javascript:void(0);">{{blogData?.title}}</a></h3>
                <div class="discrips" *ngIf="blogData?.description" [innerHTML]="blogData?.description"></div>
            </div>
        </div>

        <div class="comments box-stl">
            <div class="header">
                <h2>Comments <span *ngIf="commentsList?.length">{{commentsList.length}}</span></h2>
            </div>
            <div class="body">
                <ul class="comment-reply">
                    <li *ngFor="let comment of commentsList;">
                        <div class="img-icon" *ngIf="comment?.profile_pic">
                            <img [src]="comment?.profile_pic">
                        </div>
                        <div class="details">
                            <h5 class="name">{{comment?.name}}</h5>
                            <p class="msg">{{comment?.content}}</p>
                            <ul class="action">
                                <li><a href="javascript:void(0);" class="time">{{comment?.createdAt | date}}</a></li>
                                <li><a href="javascript:void(0);" class="reply-btn">Reply</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="reply-field box-stl">
            <div class="header">
                <h2>Leave a reply</h2>
                <small>Your email address will not be published. Required fields are marked*</small>
            </div>
            <div class="body">
                <form class="comment-form">
                    <div class="textarea">
                        <textarea [formControl]="commnetCtr" rows="4" placeholder="Please type what you want..."></textarea>
                    </div>
                    <button type="button" (click)="leaveComment()" style="position: relative;"><span [ngStyle]="{'margin-right':coloading?'12px;':''}">SUBMIT</span><mat-spinner *ngIf="coloading" style="position: absolute; top: 16%; right: 3%;" [color]="'warn'" [diameter]="20"></mat-spinner></button>
                </form>
            </div>
        </div>
    </div>

    <div class="categories">
        <div class="box-stl">
            <div class="search">
                <i class="bi bi-search"></i>
                <input type="text" placeholder="Search...">
            </div>
        </div>
        <div class="box-stl">
            <div class="header">
                <h2>Categories Clouds</h2>
            </div>
            <div class="categories-list">
                <ul class="categories-clouds">
                    <li *ngFor="let ctg of ctgClouds;">
                        <a href="javascript:void(0);">{{ctg?.name}}</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="box-stl">
            <div class="header">
                <h2>Popular Posts</h2>
            </div>
            <div class="popular-post">
                <div class="post" *ngFor="let popst of popularPost;">
                    <p class="title">{{popst?.title}}</p>
                    <span class="time">{{popst?.time}}</span>
                    <div class="post-img" *ngIf="popst?.img">
                        <img [src]="popst?.img">
                    </div>
                </div>
            </div>
        </div>
        <div class="box-stl">
            <div class="header">
                <h2>Instagram Post</h2>
            </div>
            <ul class="instagram-post">
                <li *ngFor="let insta of instaPost;">
                    <div *ngIf="insta?.img" class="insta-img">
                        <img [src]="insta?.img">
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
