<app-loader *ngIf="isLoading"></app-loader>
<div class="bloglist">
    <div class="bloglist-item">
        <div class="card box-stl" *ngFor="let post of blogList;">
            <div class="body">
                <div class="img-post" *ngIf="post?.image">
                    <img [src]="post?.image">
                </div>
                <h3 class="title" *ngIf="post?.title"><a href="javascript:void(0);">{{post?.title}}</a></h3>
                <div class="discrips" *ngIf="post?.description" [innerHTML]="post?.description"></div>
            </div>
            <div class="footer">
                <div class="actions">
                    <a href="javascript:void(0);" (click)="continueRead(post)">Continue Reading</a>
                </div>
                <ul class="stats">
                    <li><a href="javascript:void(0);">General</a></li>
                    <li><a href="javascript:void(0);"><i class="bi bi-heart"></i><span>28</span></a></li>
                    <li><a href="javascript:void(0);"><i class="bi bi-chat"></i><span>128</span></a></li>
                </ul>
            </div>
        </div>
        <ul class="pagination pagination-primary">
            <li class="page-item"><a class="page-link" href="javascript:void(0);">Previous</a></li>
            <li class="page-item active"><a class="page-link" href="javascript:void(0);">1</a></li>
            <li class="page-item"><a class="page-link" href="javascript:void(0);">2</a></li>
            <li class="page-item"><a class="page-link" href="javascript:void(0);">3</a></li>
            <li class="page-item"><a class="page-link" href="javascript:void(0);">Next</a></li>
        </ul>
    </div>
    <div class="categories">
        <div class="box-stl">
            <div class="search">
                <i class="bi bi-search"></i>
                <input type="text" placeholder="Search...">
            </div>
        </div>
        <div class="box-stl">
            <div class="header">
                <h2>Categories Clouds</h2>
            </div>
            <div class="categories-list">
                <ul class="categories-clouds">
                    <li *ngFor="let ctg of ctgClouds;">
                        <a href="javascript:void(0);">{{ctg?.name}}</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="box-stl">
            <div class="header">
                <h2>Popular Posts</h2>
            </div>
            <div class="popular-post">
                <div class="post" *ngFor="let popst of popularPost;">
                    <p class="title">{{popst?.title}}</p>
                    <span class="time">{{popst?.time}}</span>
                    <div class="post-img" *ngIf="popst?.img">
                        <img [src]="popst?.img">
                    </div>
                </div>
            </div>
        </div>
        <div class="box-stl">
            <div class="header">
                <h2>Instagram Post</h2>
            </div>
            <ul class="instagram-post">
                <li *ngFor="let insta of instaPost;">
                    <div *ngIf="insta?.img" class="insta-img">
                        <img [src]="insta?.img">
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>