<div class="taskboard">
    <div class="planned box-stl">
        <div class="header">
            <h2>Planned</h2>
            <button><i class="bi bi-plus-circle"></i></button>
        </div>
        <div class="taskboard-item">
            <ol class="list">
                <li class="item">
                    <div class="head">#L1008</div>
                    <div class="content">
                        <h5>Job title</h5>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        <ul class="list-team">
                            <li class="text"><small class="text-muted">Team</small></li>
                            <li class="img"><img src="assets/avatar/avatar1.jpg"></li>
                            <li class="img"><img src="assets/avatar/avatar2.jpg"></li>
                            <li class="img"><img src="assets/avatar/avatar3.jpg"></li>
                        </ul>
                        <hr>
                        <div class="action">
                            <div class="action-btn">
                                <button type="button" title="Edit"><i class="bi bi-pencil-square"></i></button>
                                <button type="button" title="Edit"><i class="bi bi-stopwatch"></i></button>
                                <button type="button" title="Edit"><i class="bi bi-chat-left"></i></button>
                            </div>
                            <div class="trash-btn">
                                <button type="button" title="Edit"><i class="bi bi-trash"></i></button>
                            </div>
                        </div>
                    </div>
                </li>
            </ol>
        </div>
    </div>
    <div class="in-progress box-stl">
        <div class="header">
            <h2>In progress</h2>
            <button><i class="bi bi-plus-circle"></i></button>
        </div>
        <div class="taskboard-item">
            <ol class="list">
                <li class="item">
                    <div class="head">#L1008</div>
                    <div class="content">
                        <h5>Job title</h5>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        <hr>
                        <div class="action">
                            <div  class="action-btn">
                                <button type="button" title="Edit"><i class="bi bi-pencil-square"></i></button>
                                <button type="button" title="Edit"><i class="bi bi-stopwatch"></i></button>
                                <button type="button" title="Edit"><i class="bi bi-chat-left"></i></button>
                            </div>
                            <div class="trash-btn">
                                <button type="button" title="Edit"><i class="bi bi-trash"></i></button>
                            </div>
                        </div>
                    </div>
                </li>
            </ol>
        </div>
        <div class="taskboard-item">
            <ol class="list">
                <li class="item">
                    <div class="head">#L1008</div>
                    <div class="content">
                        <h5>Job title</h5>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        <ul class="list-team">
                            <li class="text"><small class="text-muted">Team</small></li>
                            <li class="img"><img src="assets/avatar/avatar1.jpg"></li>
                            <li class="img"><img src="assets/avatar/avatar2.jpg"></li>
                        </ul>
                        <hr>
                        <div class="action">
                            <div  class="action-btn">
                                <button type="button" title="Edit"><i class="bi bi-pencil-square"></i></button>
                                <button type="button" title="Edit"><i class="bi bi-stopwatch"></i></button>
                                <button type="button" title="Edit"><i class="bi bi-chat-left"></i></button>
                            </div>
                            <div class="trash-btn">
                                <button type="button" title="Edit"><i class="bi bi-trash"></i></button>
                            </div>
                        </div>
                    </div>
                </li>
            </ol>
        </div>
    </div>
    <div class="completed box-stl">
        <div class="header">
            <h2>Completed</h2>
            <button><i class="bi bi-plus-circle"></i></button>
        </div>
        <div class="taskboard-item">
            <ol class="list">
                <li class="item">
                    <div class="head">#L1008</div>
                    <div class="content">
                        <h5>Job title</h5>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        <ul class="list-team">
                            <li class="text"><small class="text-muted">Team</small></li>
                            <li class="img"><img src="assets/avatar/avatar1.jpg"></li>
                            <li class="img"><img src="assets/avatar/avatar2.jpg"></li>
                            <li class="img"><img src="assets/avatar/avatar3.jpg"></li>
                            <li class="img"><img src="assets/avatar/avatar4.jpg"></li>
                        </ul>
                        <hr>
                        <div class="action">
                            <div  class="action-btn">
                                <button type="button" title="Edit"><i class="bi bi-pencil-square"></i></button>
                                <button type="button" title="Edit"><i class="bi bi-stopwatch"></i></button>
                                <button type="button" title="Edit"><i class="bi bi-chat-left"></i></button>
                            </div>
                            <div class="trash-btn">
                                <button type="button" title="Edit"><i class="bi bi-trash"></i></button>
                            </div>
                        </div>
                    </div>
                </li>
            </ol>
        </div>
    </div>
</div>